.App {
  text-align: center;
  height: 654px;
  margin: 0;
  position: relative;
}
h1 {
  margin: 0;
}
.title {
  border-bottom: 3px solid white;
  box-sizing: border-box;
  margin: 0;
  height: 17%;
}
.titletext {
  padding-top: 1.3em;
  text-shadow: 1px 0 0 lightpink;
}
.display {
  /*background-color: red;*/
  height: 80%;
}
.q1 {
  /*background-color: lightgrey;*/
  height: 15%;
  width: 50%;
}
.q1 h1 {
  padding-top: .65em;
  text-decoration: underline;
}
.q2 {
  /*background-color: lightpink;*/
  height: 15%;
  width: 50%;
  float: right;
  position: relative;
  top: -4.9em;
}
.q2 h1 {
  padding-top: .65em;
  text-decoration: underline;;
}

.q3 {
  /*background-color: orchid;*/
  height: 88%;
  width: 50%;
  float: left;
}
.q4 {
  text-align: left;
  background-color: white;
  border: 1px solid black;
  border-radius: 1%;
  box-sizing: border-box;
  float: right;
  position: relative;
  top: -4.95em;
  width: 342px;
  height: 418px;
  right: 7em;
  padding-left: 4px;
  overflow-x: scroll;
}
#textbox {
  font-size: 1.0em;
  resize: none;
  border-radius: 1%;
  overflow: scroll;
}