.App {
  text-align: center;
}
.title {
  border-bottom: 3px solid white;
  box-sizing: border-box;
}
.right {
  float: left;
  border: solid blue 1px;
  box-sizing: border-box;
}
.left {
  float: right;
  border: solid red 1px;
  box-sizing: border-box;
}