body {
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  /*background: linear-gradient(90deg, lightblue, lightpink);*/
  width: 90vw;
  height: 90vh;
  border: 3px white solid;
  margin: 1.2em auto;
  padding: 0px;
}

